%html
  %head
    %title "Wine Dashboard"
    =javascript_include_tag '/fluxx_engine/dist/fluxx.engine.full.js'
    =stylesheet_link_tag '/fluxx_engine/theme/default/css/style.css'
    :javascript
      $.extend(true, {
        fluxx: {
          dashboard: {
            'default': {
              name: 'Default',
              'type': 'dashboard',
              data: {
                cards: [
                  {
                    title: 'First',
                    listing: {url: '/foo'}
                  }
                ]
              }
            },
            store: {
              'type': 'server',
              config: {
                index: '/resource/index?type=dashboard',
                get: '/resource/show?type=dashboard',  // Assume id=$id always appended
                get: '/resource/update?type=dashboard' // Assume id=$id always appended
              }
            }
          },

          config: {
          dock: {
                quicklinks: [
                  [
                    {
                      label: 'New Wine',
                      url: '/demo/data/wine/wl.html',
                      className: 'new-listing',
                      type: 'red small'
                    },
                    {
                      label: 'New Grape',
                      url: '/demo/data/wine/wd.html',
                      className: 'new-detail',
                      type: 'purple small'
                    }
                  ],
                  [
                    {
                      label: 'PLUS',
                      url: '#',
                      className: 'noop',
                      type: 'plus small',
                      popup: [
                        'PLUS 1',
                        'PLUS 2',
                        'PLUS 3',
                        'PLUS 4'
                      ],
                    }
                  ]
                ],
          },
          cards: [
              {
                title: 'Hello',
                listing: {
                  url: '/wines'
                },
                detail: {
                  url: '/wines/1'
                }
              },
              {
                title: 'Hello2',
                listing: {
                  url: '/grape_varieties'
                },
                detail: {
                  url: '/grape_varieties/1'
                }
              }
            ]
          }
        }
      });
      jQuery(function($){
        $('body').fluxxStage();
      });
  %body#fluxx
    Loading Dashboard