%html
  %head
    %title "Wine Dashboard"
    =javascript_include_tag '/fluxx_engine/dist/fluxx.engine.full.js'
    =stylesheet_link_tag '/fluxx_engine/theme/_common/css/style.css'
    :javascript
      $.extend(true, {
        fluxx: {
          dashboard: {
            'default': {
              name: 'Default',
              'type': 'dashboard',
              data: {
                cards: [
                  {
                    title: 'First',
                    listing: {url: '/foo'}
                  }
                ]
              }
            },
            store: {
              'type': 'server',
              config: {
                index: '/resource/index?type=dashboard',
                get: '/resource/show?type=dashboard',  // Assume id=$id always appended
                get: '/resource/update?type=dashboard' // Assume id=$id always appended
              }
            }
          }
          config: {
            cards: [
              {
                title: 'Hello',
                listing: {
                  url: '/wines'
                },
                detail: {
                  url: '/wines/1'
                }
              }
            ]
          }
        }
      });
      jQuery(function($){
        $('body').fluxxStage();
      });
  %body#fluxx
    Loading Dashboard