= form.input :name, :label => "Wine Name"
= form.input :grape_variety, :label => "Grape Variety", :as => :autocomplete, :autocomplete_url => grape_varieties_path(:format => :json)

= form.commit_button
